<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headBlock">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <link rel="stylesheet" th:href="@{/bootadmin/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/bootadmin/css/fontawesome-all.min.css}">
        <link rel="stylesheet" th:href="@{/bootadmin/css/bootadmin.min.css}">
        <link rel="stylesheet" th:href="@{/datatable/datatables.css}">
    </th:block>

    <title>BootAdmin</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand navbar-dark bg-primary" th:fragment="header">
    <a class="sidebar-toggle mr-3" href="#"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand" href="#">BootAdmin</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-envelope"></i> 5</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-bell"></i> 3</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dd_user"><i
                        class="fa fa-user"></i> John Doe</a>
                <div aria-labelledby="dd_user" class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex">
    <div class="sidebar sidebar-dark bg-dark" th:fragment="leftmenu">
        <ul class="list-unstyled">
            <!--            my menu start-->
            <li><a href="#"><i class="fa fa-fw fa-link"></i>Test list(empty)</a></li>
            <li>
                <a data-toggle="collapse" href="#sm_expand_1"><i class="fa fa-fw fa-link"></i>
                    Entities
                </a>
                <ul class="list-unstyled collapse" id="sm_expand_1">
                    <li><a href="#" th:href="@{/bootadmin/entity/user/showAll}">Users</a></li>
                    <li><a href="#" th:href="@{/bootadmin/entity/role/showAll}">Roles</a></li>
                    <li><a href="#" th:href="@{/bootadmin/entity/category/showAll}">Categories</a></li>
                    <li><a href="#" th:href="@{/bootadmin/entity/product/showAll}">Products</a></li>
                    <li><a href="#" th:href="@{/bootadmin/entity/brand/showAll}">Brands</a></li>
                </ul>
            </li>

            <!--            my menu end-->
            <!--            <li><a href="https://bootadmin.net/demo"><i class="fa fa-fw fa-tachometer-alt"></i> Dashboard</a></li>-->
            <!--            <li>-->
            <!--                <a href="#sm_base" data-toggle="collapse">-->
            <!--                    <i class="fa fa-fw fa-cube"></i> Base-->
            <!--                </a>-->
            <!--                <ul id="sm_base" class="list-unstyled collapse">-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/colors">Colors</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/typography">Typography</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/tables">Tables</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/progress">Progress</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/modal">Modal</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/alerts">Alerts</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/popover">Popover</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/tooltip">Tooltip</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/dropdown">Dropdown</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/navs">Navs</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/collapse">Collapse</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/base/lists">Lists</a></li>-->
            <!--                </ul>-->
            <!--            </li>-->
            <!--            <li><a href="https://bootadmin.net/demo/icons"><i class="fa fa-fw fa-flag"></i> Icons</a></li>-->
            <!--            <li><a href="https://bootadmin.net/demo/buttons"><i class="fa fa-fw fa-toggle-on"></i> Buttons</a></li>-->
            <!--            <li><a href="https://bootadmin.net/demo/forms"><i class="fa fa-fw fa-edit"></i> Forms</a></li>-->
            <!--            <li><a href="https://bootadmin.net/demo/datatables"><i class="fa fa-fw fa-table"></i> Datatables</a></li>-->
            <!--            <li><a href="https://bootadmin.net/demo/cards"><i class="fa fa-fw fa-address-card"></i> Cards</a></li>-->
            <!--            <li><a href="https://bootadmin.net/demo/calendar"><i class="fa fa-fw fa-calendar-alt"></i> Calendar</a></li>-->
            <!--            <li><a href="https://bootadmin.net/demo/charts"><i class="fa fa-fw fa-chart-pie"></i> Charts</a></li>-->
            <!--            <li><a href="https://bootadmin.net/demo/maps"><i class="fa fa-fw fa-map-marker-alt"></i> Maps</a></li>-->
            <!--            <li>-->
            <!--                <a href="#sm_examples" data-toggle="collapse">-->
            <!--                    <i class="fa fa-fw fa-lightbulb"></i> Examples-->
            <!--                </a>-->
            <!--                <ul id="sm_examples" class="list-unstyled collapse">-->
            <!--                    <li><a href="https://bootadmin.net/demo/examples/blank">Blank/Starter</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/examples/pricing">Pricing</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/examples/invoice">Invoice</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/examples/faq">FAQ</a></li>-->
            <!--                    <li><a href="https://bootadmin.net/demo/examples/login">Login</a></li>-->
            <!--                </ul>-->
            <!--            </li>-->
            <!--            <li class="active"><a href="https://bootadmin.net/demo/docs"><i class="fa fa-fw fa-book"></i> Documentation</a></li>-->
        </ul>
    </div>

    <div class="content p-4">
        <h2 class="mb-4">Blank/Starter</h2>

        <div class="card mb-4">
            <div class="card-body">
                This is a blank page you can use as a starting point.
            </div>
        </div>
    </div>
</div>

<th:block th:fragment="footer">
    <script th:src="@{/bootadmin/js/jquery.min.js}"></script>
    <script th:src="@{/bootadmin/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/bootadmin/js/bootadmin.min.js}"></script>
    <script th:src="@{/datatable/datatables.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                fixedHeader: true
            });
        });
    </script>
</th:block>

</body>
</html>
