<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/bootadmin/fragments :: headBlock"></div>

    <title>BootAdmin</title>
</head>
<body class="bg-light">

<div th:replace="/bootadmin/fragments :: header"></div>

<div class="d-flex">
    <div class="sidebar sidebar-dark bg-dark" th:replace="/bootadmin/fragments :: leftmenu"></div>

    <div class="content p-4">
        <h2 class="mb-4">Blank/Starter</h2>

        <div class="card mb-4">
            <div class="card-body">
                This is a blank page you can use as a starting point.
            </div>
        </div>
    </div>
</div>

<div th:replace="/bootadmin/fragments :: footer"></div>

</body>
</html>
